.Editor {
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: white;
}

.Editor_toolbar {
  position: fixed;
  top: 32px;
  left: 64px;
  right: 64px;
  background: white;
  border-radius: 8px;
  padding: 4px 16px;
}

.Editor_area_container {
  flex: 1;
  height: 100%;
  width: 100%;
}

.Editor_area {
  background: black;
  overflow: auto;
  position: relative;
  width: 4000px;
  height: 2000px;
}

@keyframes selected {
  from {
    box-shadow: 0 0 0 2px hotpink;
  }
  to {
    box-shadow: 0 0 0 8px transparent;
  }
}

.Editor_entity {
  width: 32px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  height: 32px;
  background: white;
  position: absolute;
  cursor: pointer;
  resize: both;

  &.selected {
    animation: 500ms linear infinite alternate selected;
  }

  .border {
    display: none;
  }

  &:hover {
    .border {
      display: block;
    }
  }

  .border {
    $width: 4px;
    background: #808080;
    position: absolute;
    z-index: 99999;

    &.top {
      cursor: n-resize;
      width: 100%;
      height: $width;
      top: -0;
    }

    &.bottom {
      cursor: n-resize;
      width: 100%;
      height: $width;
      bottom: -0;
    }

    &.left {
      cursor: w-resize;
      width: $width;
      height: 100%;
      left: -0;
    }

    &.right {
      cursor: w-resize;
      position: absolute;
      width: $width;
      height: 100%;
      right: 0;
    }
  }
}

.Editor_toolbar_entity {
  position: fixed;
  top: 64px;
  left: 64px;
  right: 64px;
  background: white;
  border-radius: 8px;
  padding: 4px 16px;
}
