/**
=
=
=
 */
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.8;
    }
}

.Level_bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #000000;
    height: 32px;
    z-index: 999999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: left;
    align-items: center;
}


.Level_bar button {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: black;
    color: rgba(255, 255, 255, 0.4);
    margin: 8px 4px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

.Level_bar button:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
}

.Level_bar_left {
    flex: 1;
    justify-content: left;
    align-items: center;
}

.Level_bar_right {

}

.Level_overlay {
    animation: 4000ms linear infinite alternate fade;
    background: radial-gradient(closest-side, rgba(0, 0, 0, 0.4), black, black);
}

.Level_dialog button {
    position: absolute;
    right: -64px;
    top: 0;
    bottom: 0;
    color: white;
    background: transparent;
    text-indent: 3px;
    border: 0;
    cursor: pointer;
}

.Level_dialog button {
    position: absolute;
    right: -58px;
    top: 0;
    bottom: 0;
    color: white;
    background: transparent;
    text-indent: 3px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    border: 1px solid transparent;
    font-weight: bold;
}

.Level_dialog button:hover {
    border-radius: 8px;
    border: 1px solid white;
}

.Level_dialog {
    position: absolute;
    bottom: 100px;
    height: 128px;
    left: 0;
    background: black !important;
    right: 0;
    margin: auto;
    width: 640px;
    display: flex;
    border-radius: 8px;
    border: 1px solid white;
    transition: all 100ms ease-out;
    opacity: 0;
    transform: scale(0.9);
}

.Level_dialog.visible {
    opacity: 1;
    cursor: pointer;
    transform: scale(1);
}

.Level_dialog:hover {
    transform: scale(1.02);
}

.Level_avatar, .Level_avatar img {
    height: 128px;
    width: 128px;
}

.Level_dialog_content {
    padding: 10px;
}

.Level_dialog_author {
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 20px;
    padding: 0;
    margin: 2px 0 16px;
}

.Level_dialog_message {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: whitesmoke;
}