

.Title {
    display: flex;
    transition: all 1s ease;
}

.Title img {
    height: 512px;
}

.Title_h1 {
    font-size: 48px;
    font-weight: lighter;
    color: #7b2f1d;
    margin: 64px 128px;
}

.Title_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #dadada;
    margin-left: 64px;
    padding-left: 32px;
}

.Title_menu button {
    text-transform: uppercase;
    border: 0;
    color: #5e5e5e;
    background: white;
    padding: 16px 32px;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 16px;
}

.Title_menu button:hover {
    background: whitesmoke;
}