/**
=
=
=
 */

body {
    background: black;
    touch-action: none;
    margin: 0;
    font-family: 'M PLUS 1', sans-serif;
}

#game {
    background: black;
    opacity: 0;
}

#root {
    background: black;
}
